<div class="row underline">
    <h2 class="col-xs-12">{{title}}</h2>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-1 border-right" style="min-height:200px"></div>
    <div class="col-xs-10 col-sm-11" id="canvasContainer" ng-init="canvasInit">
        <canvas id="demoArea" width="1042" height="600" >
            <div class="alert-dismissable alert-warning">
                <b>Error:</b> You are using and outdated browser... fix it!<br/>
                <a href="https://www.google.com/chrome/">Download Chrome Here</a>
            </div>
        </canvas>
    </div>
</div>