<canvas id="demoArea" width="1042" height="600" >
    <div class="alert-dismissable alert-warning">
        <b>Error:</b> You are using and outdated browser... fix it!<br/>
        <a href="https://www.google.com/chrome/">Download Chrome Here</a>
    </div>
</canvas>
<!--<canvas class="demoArea hidden-lg hidden-sm hidden-xs" width="859" height="550">
    <div class="alert-dismissable alert-warning">
        <b>Error:</b> You are using and outdated browser... fix it!<br/>
        <a href="https://www.google.com/chrome/">Download Chrome Here</a>
    </div>
</canvas>
<canvas class="demoArea hidden-lg hidden-md hidden-xs" width="657" height="500">
    <div class="alert-dismissable alert-warning">
        <b>Error:</b> You are using and outdated browser... fix it!<br/>
        <a href="https://www.google.com/chrome/">Download Chrome Here</a>
    </div>
</canvas>-->