<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">Learn Algorithms</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trees<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/trees">Home</a></li>
                        <li><a href="#/bst">Binary Search Tree</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>